:root {
      --primary-color: #000000;
      --secondary-color: #ffffff;
}

* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: "Monserrat", sans-serif;
}

.logo h1 {
      font-size: 2rem;
      font-weight: bold;
      text-transform: uppercase;
}

.navbar, .list, .item-menu ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 24px;
      color: var(--primary-color);
}

.navbar {
      padding: 20px 40px
}

.item-menu ul {
      gap: 40px;
}

.item {
      font-size: 1.5rem;
      list-style: none;
}

.btn {
      display: flex;
      gap: 24px;
      
}

.signin {
      border: none;
      background-color: transparent;
      cursor: pointer;
}

.signup {
      border: 1px solid black;
      border-radius: 24px;
      padding:12px 24px;
      cursor: pointer;
}

.hero {
      padding: 20px 40px;
      width: 100%;
}

.content-hero {
      width: 70%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin: auto;
}

.hero-title {
      font-size: 4rem;
      text-align: center;
}

.hero-desc {
      letter-spacing: .5px;
      line-height: 1.2;
      text-align: center;
      font-size: 1.2rem;
      margin-top: 24px;
}

.image {
      height: 400px;
      width: 800px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: auto;
}

.image img {
      margin-top: 54px;
      height: 100%;
      width: 100%;
      object-fit: cover;
}